*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
#first{
/* display: flex;
justify-content: space-between;
align-items: baseline; */


}
li{
    list-style-type: none;
    font-weight: bolder;
    font-style: oblique;
    text-decoration: none;
    color: black;
}
li:hover{
    cursor: pointer;
}
#ilkp{
    width: 40vw;
}
#womens{
position: relative;
}
.weniki{
    
     position: absolute;
    display: none;
}

   
#womens:hover .weniki{
    display: block;
    background-color: black;
    color: white;
    height: 30vh;
    width: 10vw;
    overflow-y: auto;
    z-index: auto;
}
#but{
    
}
#salebir{
    position: relative;
}
#saleiki{
    position: absolute; 
    display: none;
}
#salebir:hover #saleiki{
    display: block;
    background-color: black;
    color: white;
    width: 15vw;
    height: 30vh;
}
#adidasiki{
    display: flex;
    
}
.u{
    background-color: black;
    border-radius: 15px;
    border: none;
    position: relative;
    bottom: 115px;
    left: 215px;
    width: 30px;
    height: 30px;
}
.imagelerkicik{
    /* width: 35vw;
    height: 40vh; */
}
i{
    color: white;
}

#fakeadidas{
    display: flex;
    justify-content: space-between;
}
#ilkhbir{
font-weight: 900;
font-family: GT Walsheim Pro;
    color: black;
}
#ikincihbir{
    font-family: GT Walsheim Pro;
    color: red;
    font-weight: 300;
font-style: unset;
font-weight: lighter;
}
#ilkp{
    font-family: GT Walsheim Pro;
    font-weight: bolder;
}
#money{
    font-family: GT Walsheim Pro;
    color: red;
}
#ilkbutton{
    color: #0000004A;
    text-shadow: #0000004A;
    border-radius: 14px;
    
}
#adidas{
    display: block;
    width: 20vw;
    height: 20vh;
}
#adidas:hover{
cursor: pointer;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
   
}
#adida{
    
}
#r, #t, #y{
    position: relative;
    bottom: 80px;
    left: 50px;
    width: 20vw;
    height: 25vh; background-image: url(WhatsApp\ Image\ 2025-09-20\ at\ 15.15.43.jpeg);
    text-align: center;
}
@keyframes animationbir {
    from{ background-color: rgb(74, 255, 255);}
    to{background-color: aquamarine;}
}


@keyframes identifier {
    
}
body{
    animation-name: animationbir;
animation-duration: 3s;
animation-iteration-count: infinite;

}


